emacs/.emacs.d/.cask/
emacs/.emacs.d/ac-comphist.dat
emacs/.emacs.d/auto-save-list
emacs/.emacs.d/ido.last
emacs/.emacs.d/kkcrc
emacs/.emacs.d/recentf
emacs/.emacs.d/smex-items
emacs/.emacs.d/undohist

fcitx/.config/fcitx/cached_layout
fcitx/.config/fcitx/clipboard
fcitx/.config/fcitx/data
fcitx/.config/fcitx/dbus
fcitx/.config/fcitx/profile

termite/.config/chromium/

w3m/.w3m/cookie
w3m/.w3m/history
w3m/.w3m/w3m*
