emacs/.emacs.d/.cask/
emacs/.emacs.d/ac-comphist.dat
emacs/.emacs.d/auto-save-list
emacs/.emacs.d/ido.last
emacs/.emacs.d/kkcrc
emacs/.emacs.d/recentf
emacs/.emacs.d/smex-items
emacs/.emacs.d/undohist
